<html>
 <head>
 	<title>HypBin FAQs</title>
 </head>
 <body>
 	<h3> FAQs</h3>
 	<h4>how my data is stored ?</h4>
 	Your data is stored anonymously on ISO 27001 datacenter and it is mapped to a unique url.
 	<p>
 	<h4>what other information do we store ?</h4>
 	We do not save any personal information of yours but for machines we store your public ip address and tentative geo location to better understand our audiance.
 	<p>
 	<h4> Is hypbin secured ? </h4>
 	 yes, SSL is in place. and also hypbin generates random url patterns.
 	 You can always use pin protect and encryption for higher level securities.
 	 <h4>What is pin protect </h4>
 	 The document cannot be accessed untill you enter pin. This is user level access. On our server the data will be stored in plain text. The document will be deleted on enetring 15 consequtive wrong pin.
 	 <h4> What is encryption </h4>
 	 The documents will be encrypted on our server, As of now we work with AES algorithm which requires your key to decode. It is the most secure option if you are sharing password, personal information etc. 

 	 The key is not stored it is used only once in you browser.
 	 <h4>I lost my url, how can i retrieve ?</h4>
 	 We are sorry, as this is anonymous we don't know who are you. But as a safer side you can copy your email id in "share to" so that you can never forget the url
 	 <h4> How long the data will be saved </h4>
 	 We love to keep your document forever, but if you do not access the url for 365 days it will be removed. **<p>
 	 If you want to delete there is a dedicated button for that. Hence make sure whome you are sharing with or create a another copy.
 	 <h4> What is delete after (x) reads or (x) date </h4>
 	 well it means the document will be deleted after the number of reads ( url hits ) / the date you specify. Lets say if you want someone to use your information only once and then they can never access that again this is the option for you. 
 	 e.g your phone number, password
 	 <h4> I want to search and remove all of my data from hypbin ? </h4>
 	 ** Well you need to specify urls, emails, preferences and data content. We will find the data if it exists on our server within 5 working days and then upon your request we will remove it. Please mail to gdpr@hypbin.com
 	 <h4> do you sell my data ? </h4>
 	 No we do not sell any of the data. Interestingly we do process your data for some stastics like which is the most common language, number of lines, software codes, resumes, common terms, location etc. But don't worry we will never use any individual data.
 	 <h4> is it free </h4>
 	 Yes it is absolutely free, but you can help via donating to keep our server alive :)		
 </body>
</html>