<html>
 <head>
 	<title>HypBin | secure anonymity!</title>
  <style>
  body {
  background-color: #20262e;
  color: white;
}
  </style>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <!--background-color: #001628; -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
 	<script src="js/ejs.min.js"></script>
 	<script type="text/javascript">

	// key shortcuts 
	$(window).bind('keydown', function(event) {
     if (event.ctrlKey || event.metaKey) {
        switch (String.fromCharCode(event.which).toLowerCase()) {
        case 's': // ctrl + s to save 
            event.preventDefault();
			persistContent();
            break;
        case 'l': //ctrl + l for new instance
			event.preventDefault();
			window.location = "http://localhost:8080/";
            break;
        case 'o':
            event.preventDefault();
            $('#link-box').toggle('slow');
            break;
        }
     }
  });

		
  $( document ).ready(function() {
  	$('#btn_options').click(function() {
  $('#link-box').toggle('slow');
});
  $('#urlClip').hide();
   $('textarea#content').val(<%-JSON.stringify(content)%>);
     var currentUrl = window.location.href;
    if(!<%-JSON.stringify(createNew)%>) copyUrlToClipboard(currentUrl);
  });
 
 		$(function(){
 			$("#btn_save").click(function(e){
 				console.log("save button clicked");
 				persistContent();	
 			});
 		});

 		function persistContent(){
 			var data = {};
 			data.permalink = '<%=permalink%>';
 			data.content = $("#content").val();
 			console.log(JSON.stringify(data));
 			$.ajax({
 				type: 'POST',
 				data: JSON.stringify(data),
 				contentType: 'application/json',
 				url: 'http://localhost:8080/persist_hyp001',
 				success: function(data){
 					console.log("success");
 					console.log(JSON.stringify(data));
 					var urlRedirect = JSON.stringify(data.permalink).slice(1,-1);
 					window.location = "http://localhost:8080/doc__"+urlRedirect;
 				}
 			});
 		}
		
		function copyUrlToClipboard(data){	
			//var $temp = $("<input>");
			//$("#urlClip").append($temp);
      $('#urlClip').show();
			$('#urlClip').val(data).select().focus();
			document.execCommand("copy");

			//$temp.remove();
			//console.log("url copied to clipboard");
		}

		

	</script>
 </head>
 <body>
  <div class="grid-container">
      <div class="Header">
 	      <h4>H Y &#43004; B I  &#886; <sub>beta 0.1</sub></h4> 
 	      <input type="text" id="urlClip" style="width: auto; display:inline-block; color: white;  "></input> 
        <p>
 	</div>
  <div class="workspace">
    <textarea id="content" placeholder="
    Thought of the Day:
    &quot;The first draft is just you telling yourself the story.&quot;
    ― Terry Pratchett
    "></textarea>
    <br>
  </div>
  <div class="options">
  	<div id="btn_save" name="btn_save" style="font-size: 25px; float:left;">&#128190;&nbsp;</div>
  	  <div id="btn_options" name="btn_options" style="font-size: 25px; float:left;">&#x2699;</div>
  	  	<div id="link-box" style="float:left;">
   <input type="checkbox" name="protect"> Protect <input type="text" name="protect_pin" placeholder="secret key">

</div>
 	  
 	  
  </div>
 </body>
</html>
